extends layout
block content
  div.wrapper
    .container-fluid
      div.row
        p &nbsp;
      div.row
        .col-lg-12
          .panel.panel-default
            .panel-heading
              h2
                b Project: 
                |#{project.name}
              h4 
                b Path: 
                |#{project.path} 
                br 
                br 
                b Date: 
                |#{date}
              p 
                input(type="button", id="btnExport", value=" Export Table data into Excel ")
            .panel-body
              if project
                #dvData.table-responsive.table-bordered
                  table.table
                    thead
                      tr
                        th Path
                        th MI
                        th Magnitude
                    tbody
                    - each file, i in files
                      tr(id="#{file.id}")
                        td #{file.path}
                        td #{file.mi}
                        td #{file.magnitude}
              else
                p You don't have any projects.
      if invalid
        p.bg-danger El ID ingresado es inválido.

  script.
    $(document).ready(function() {
      $("#btnExport").click(function(e) {
        var a = document.createElement('a');
        var data_type = 'data:application/vnd.ms-excel';
        var table_div = document.getElementById('dvData');
        var table_html = table_div.outerHTML.replace(/ /g, '%20');
        table_html = table_html.replace(/<thead>|<\/thead>|<tbody>|<\/tbody>/g, "");
        table_html = table_html.replace(/class=\"table\"/g, ""); 
        a.href = data_type + ', ' + table_html;
        a.download = '#{project.name}.xls';
        a.click();
        e.preventDefault();
      });
    });
