extends layout
block content
  div.wrapper
    .container-fluid
      div.row
        p &nbsp;
      div.row
        .col-lg-8
          .panel.panel-default
            .panel-heading
              h2 Project's List
            .panel-body
              if projects
                .table-responsive.table-bordered
                  table.table
                    thead
                      tr
                        th Name
                        th Path
                        th Recursive
                        th Actions
                    tbody
                    - each project in projects
                      tr(id="#{project.id}")
                        td
                          a(href="/project/#{project.id}", title="#{project.name}") #{project.name}
                        td #{project.path}
                        td #{project.recursive}
                        td 
                          a(href="/scan-project/#{project.id}", title="scan", class="scan") scan
                          |  | 
                          a(href="/elete-project/#{project.id}", title="remove", class="remove") remove
              else
                p You don't have any projects.
        .col-lg-4
          .panel.panel-default
            .panel-heading
              h2 Add New Project
            .panel-body
              a(href="/new-project") Add new project
      if invalid
        p.bg-danger El ID ingresado es inválido.
